body{
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #A9A9A9;
}

.main{
    visibility: hidden;
    width: 405px;
    height: 500px;
    background-color:  #1E90FF;
    margin: 0 auto;
    padding-top: 110px;
}

h1{
    font-family: Avantgarde, sans-serif;
    font-weight: bold;
    color: #1f1f1f;
}

input{
    background-color: #fff;
    color: #1f1f1f;
    height: 8%;
    width: 95%;
    padding-left: 3%;
    border: none;
    font-family: Avantgarde, sans-serif;
}

.loginBut{
    background-color: #1f1f1f;
    border: none;
    color: #fff;
    width: 45%;
    height: 8%;
    font-family: Avantgarde, sans-serif;
}

p{
    font-family: Avantgarde, sans-serif;
  color: #0f0f0f;  
}

.accFunc{
    background: none;
    border:none;
    color: #fff;
}

.accFunc:hover{
    color: #1f1f1f;
}

.lockScreen{
    width: 405px;
    height: 500px;
    background-color:  #1E90FF;
    margin: 0 auto;
    padding-top: 9%;
    text-align: center;
}

.material-icons{
   width: 220px;
   height: 220px;
   margin: 0 auto;
   color: white;
}

.unlockScrTxt{
    margin-top: auto;
    font-size: 250%;
    font-weight: bold;
    font-family: Avantgarde, sans-serif;
    color: #1f1f1f;
}

.unlockFooter{
    margin-top: 200px;
    font-family: Avantgarde, sans-serif;
    font-size: 120%;
    color: #fff;
}

.unlockScr{
    border: none;
    background: none;
    width: 405px;
}

.user{
    margin-top: 15%;
}

.warning{
    display: none;
    background-color: #1f1f1f;
    color: #1E90FF;
    width:303.75px;
    height: 40px;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    border-radius: 8px;
}

.tasksScreen{
    visibility: hidden;
    width: 405px;
    margin: 0 auto;
    text-align: left;
    padding-top: -114px;
}

.taskName{
    width: 350px;
    height: 55px;
    margin-top: 0 auto;
    background-color: #1F1F1F;
    color: #fff;
    border: none;
    border-bottom: 1px solid #1E90FF;
}

.addTaskBut{
    height: 55px;
    width: 55px;
    border: none;
    border-bottom: 1px solid #1E90FF;
    background-color: #1E90FF;
    color: #1F1F1F;
    text-align: center;
}

.addTaskBut:hover{
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.list{
    background-color: #1f1f1f;
    text-align: left;
    height: auto;
    width: 405px;
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}

.taskCheckbox{
    width: 20px;
    height: 20px;
    float: left;
}

.taskLabel{

    font-size: 120%;
    color: #FFF;
}

hr{
    height: 1px;
    border: none;
    border-top: 1px solid #1E90FF;
    margin: 1em 0;
    padding: 0;
}

#deleteIcon{
    float: right;
    margin-left: 80%;
    height: 30px;
    width: 30px;
}

.deleteButton{
    background: none;
    border: none;
    height: 32px;
    width: 32px;
    float: right;
    margin-right: 15px;
    display: flex;
    justify-content: flex-start;
}

.createAcc{
    visibility: hidden;
    width: 405px;
    height: 500px;
    background-color:  #1F1F1F;
    margin: 0 auto;
    padding-top: 9%;
    text-align: center;
}

.registerBut{
    background-color: #1E90FF;
    border: none;
    color: #1F1F1F;
    width: 45%;
    height: 8%;
    font-family: Avantgarde, sans-serif;
}

.newAccTxt{
    margin-top: auto;
    font-size: 200%;
    font-weight: bold;
    font-family: Avantgarde, sans-serif;
    color: #fff;
}

.createAcc input{
    color:#1F1F1F;
}

.regMsg{
    display: none;
    font-weight: bold;
    background-color: #fff;
    color: #1E90FF;
    width:303.75px;
    height: 40px;
    margin: 50px auto;
    padding-top: 25px;
    text-align: center;
    border-radius: 8px;
}

input:required:invalid{
    background-image: url('./img/not.png');
    background-size: 10px 10px;
    background-position: right top;
    background-repeat: no-repeat;
}

input:required:valid{
    background-image: url('./img/ok.png');
    background-size: 10px 10px;
    background-position: right top;
    background-repeat: no-repeat;
}

.forgotPassScr{
    visibility: hidden;
    width: 405px;
    height: 500px;
    background-color:  #1F1F1F;
    margin: 0 auto;
    padding-top: 9%;
    text-align: center;
}

.forgotPassBut{
    background-color: #1E90FF;
    border: none;
    color: #1F1F1F;
    width: 45%;
    height: 8%;
    font-family: Avantgarde, sans-serif;
}

.recoverPassTxt{
    margin-top: auto;
    font-size: 200%;
    font-weight: bold;
    font-family: Avantgarde, sans-serif;
    color: #fff;
}